{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="{% static 'plantilla/specer/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plantilla/specer/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plantilla/specer/css/style.css' %}">
</head>
<body>
<!-- Header Section Begin -->
<header class="header-section">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ht-info">
                        <ul>
                            <li>20:00 - May 19, 2019</li>
                            <li><a href="#">Sign in</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ht-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-vimeo"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="{% url 'inicio' %}">
                            <img src="{% static 'plantilla/specer/img/logo.png' %}" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="nav-menu">
                        <ul class="main-menu">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Club</a></li>
                            <li><a href="#">Schedule</a></li>
                            <li><a href="#">Results</a></li>
                            <li><a href="#">Sport</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Blog Details</a></li>
                                    <li><a href="#">Schedule</a></li>
                                    <li><a href="#">Results</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                        <div class="nm-right search-switch">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Footer Section Begin -->
<footer class="footer-section set-bg" data-setbg="{% static 'plantilla/specer/img/footer-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="fs-logo">
                    <div class="logo">
                        <a href="#"><img src="{% static 'plantilla/specer/img/logo.png' %}" alt="Logo"></a>
                    </div>
                    <ul>
                        <li><i class="fa fa-envelope"></i> Info.colorlib@gmail.com</li>
                        <li><i class="fa fa-copy"></i> +(12) 345 6789 10</li>
                        <li><i class="fa fa-thumb-tack"></i> 40 Baria Street 133/2 New York City, United States</li>
                    </ul>
                    <div class="fs-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-tumblr"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-1">
                <div class="fs-widget">
                    <h4>Top Club</h4>
                    <ul class="fw-links">
                        <li><a href="#">Brazil</a></li>
                        <li><a href="#">Germany</a></li>
                        <li><a href="#">Italy</a></li>
                        <li><a href="#">Argentina</a></li>
                        <li><a href="#">France</a></li>
                    </ul>
                    <ul class="fw-links">
                        <li><a href="#">England</a></li>
                        <li><a href="#">Netherlands</a></li>
                        <li><a href="#">Hungary</a></li>
                        <li><a href="#">Croatia</a></li>
                        <li><a href="#">Poland</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="fs-widget">
                    <h4>Recent News</h4>
                    <div class="fw-item">
                        <h5><a href="#">England win shows they have the spark to go far at World Cup</a></h5>
                        <ul>
                            <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                            <li><i class="fa fa-edit"></i> 3 Comments</li>
                        </ul>
                    </div>
                    <div class="fw-item">
                        <h5><a href="#">Sri Lanka v Australia: Cricket World Cup 2019 – live!</a></h5>
                        <ul>
                            <li><i class="fa fa-calendar"></i> May 19, 2019</li>
                            <li><i class="fa fa-edit"></i> 3 Comments</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="fa fa-close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search Model End -->

<!-- Js Plugins -->
<script src="{% static 'plantilla/specer/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'plantilla/specer/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plantilla/specer/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'plantilla/specer/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'plantilla/specer/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'plantilla/specer/js/main.js' %}"></script>

</body>
</html>
