{% extends './plantilla.html' %}
{% load static %}
{% block contenido %}
<br><br><br><br><br><br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light p-4 rounded shadow-sm">
        <h1 class="mb-4">Editar Estadio</h1>
        <form action="/procesarEdicionEstadios" id="frm_editar_estadio" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ estadioEditar.id }}">

            <label for="nombre">Nombre:</label>
            <input class="form-control mb-3" type="text" name="nombre" id="nombre" value="{{ estadioEditar.nombre }}" required><br><br>

            <label for="ubicacion">Ubicación:</label>
            <input class="form-control mb-3" type="text" name="ubicacion" id="ubicacion" value="{{ estadioEditar.ubicacion }}" required><br><br>

            <label for="capacidad">Capacidad:</label>
            <input class="form-control mb-3" type="number" name="capacidad" id="capacidad" value="{{ estadioEditar.capacidad }}" required><br><br>

            <label for="fecha">Fecha:</label>
            <input class="form-control mb-3" type="date" name="fecha" id="fecha" value="{{ estadioEditar.fecha }}" required><br><br>

            <label for="logo">Logotipo:</label>
            <input type="file" name="logo" id="logo" class="form-control"><br><br>

            <label for="pdf">Seleccionar PDF:</label>
            <input type="file" name="pdf" id="pdf" class="form-control"><br><br>

            <br>
            <button class="btn btn-warning" type="submit">
                <i class="fa fa-pen"></i> Editar
            </button>
            <a class="btn btn-outline-danger" href="{% url 'inicio' %}">
                <i class="fa fa-times"></i> Cancelar
            </a>
        </form>
        <br>
    </div>
    <div class="col-md-3"></div>
</div>

<script>
    $("#frm_editar_estadio").validate({
        rules: {
            "nombre": {
                required: true,
                minlength: 3,
                maxlength: 10
            },
            "ubicacion": {
                required: true
            },
            "capacidad": {
                required: true,
                number: true,
                min: 10
            },
            "fecha": {
                required: true,
                date: true
            }
        },
        messages: {
            "nombre": {
                required: "Por favor, ingrese el nombre del estadio.",
                minlength: "El nombre debe tener al menos 3 letras.",
                maxlength: "El nombre no debe exceder 10 letras."
            },
            "ubicacion": {
                required: "Por favor, ingrese la ubicación del estadio."
            },
            "capacidad": {
                required: "Por favor, ingrese la capacidad.",
                number: "Este campo solo acepta números.",
                min: "La capacidad mínima debe ser 10 personas."
            },
            "fecha": {
                required: "Por favor, seleccione una fecha.",
                date: "Ingrese una fecha válida."
            }
        }
    });
</script>
{% endblock %}
