{% extends './plantilla.html' %}
{% load static %}
{% block contenido %}
<br><br><br><br><br><br>

<h1 class="text-center">Listado de Estadios</h1>
<br>
<table class="table table-bordered table-striped table-hover">

    <thead>
        <tr class="table-success text-center
            table-striped table-hover">    
            <th>ID</th>
            <th>NOMBRE</th>
            <th>CÉDULA</th>
            <th>TURNO</th>
            <th>USUARIO</th>
            <th>HOJA DE VIDA</th>
            <th>ACCIONES</th>
        </tr>
    </thead>

</table>
{% endblock %}